:root {
  --foo-font-family: NeverMind;
  --foo-color-black: #000;
  --foo-color-white: #ffffff;
  --foo-color-light-100: #f6f7fb;
  --foo-color-light-200: #e9ebf3;
  --foo-color-light-300: #ccd4e3;
  --foo-color-dark-200: #545864;
  --foo-color-dark-300: #292b31;
  --foo-color-main-yellow: #ffb82e;
  --foo-color-main-blue: #0022d4;
  --foo-color-mint: #47cbab;

  --ifm-font-family-base: var(--foo-font-family);
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

html {
  font-size: 62.5% !important;
}

body, input, button {
  font-family: var(--foo-font-family) !important;
}

body {
  font-size: 1.6rem !important;
  line-height: 2.2rem !important;
  color: var(--foo-color-black) !important;
}

.foo-home-container {
  width: 100%;
  max-width: 1088px;
  margin: 0 auto;
}

.foo-input {
  border-radius: 5px;
  border: 1px var(--foo-color-black) solid;
  outline: none;
}

.foo-input input {
  border: none;
  background: transparent;
}

.foo-highlight {
  color: var(--foo-color-main-yellow);
}

.foo-highlight-bg {
  background: var(--foo-color-main-yellow);
}

.foo-hightlight-blue {
  color: var(--foo-color-main-blue);
}

.foo-home-section-title {
  text-transform: uppercase;
  font-size: 4.8rem;
  line-height: 6rem;
  letter-spacing: .5rem;
  font-weight: 700;
}

.foo-underline {
  position: relative;
}

.foo-underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 11px;
  background: var(--foo-color-main-yellow);
  z-index: -1;
}

.ReactModal__Overlay {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  z-index: 20;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  background: rgba(0, 0, 0, .5) !important;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactModal__Content {
  position: static !important;
  border: none !important;
  border-radius: 40px !important;
  max-width: 650px;
  width: calc(100% - 30px);
  padding: 40px !important;
  max-height: 100%;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  input, button {
    font-size: 1.3rem !important;
    line-height: 1.8rem !important;
  }

  .foo-home-container {
    width: unset;
    margin: 0 15px;
  }

  .foo-home-section-title {
    font-size: 3.8rem;
    line-height: 4.8rem;
    letter-spacing: .4rem;
  }
}