.waitlistTitle {
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.2rem;
    margin: 0;
}

.waitlistContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.waitlistContent :global(.foo-input) {
    display: flex;
    align-items: center;
    background: var(--foo-color-white);
}

.waitlistContent :global(.foo-input) input {
    padding: 20px;
    outline: none;
    width: 100%;
}

.igInput {
    padding-left: 20px;
}

.igInput input {
    padding-left: 7px;
}

.waitlistFormLabel {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}

.waitlistForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.waitlistIgNote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.waitlistIgNoteBody {
    border-radius: 10px;
    padding: 32px 140px 32px 20px;
    background: right 20px center / 100px 100px no-repeat url('/img/free-camera.svg'), var(--foo-color-main-yellow);
}

.waitlistIgNoteTitle {
    display: block;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.6rem;
    margin-bottom: 10px;
}

.waitlistSubmitButton {
    background: var(--foo-color-black);
    color: var(--foo-color-white);
    padding: 15px 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.waitlistCloseButton {
    border: 1px var(--foo-color-black) solid;
    background: var(--foo-color-white);
    padding: 15px 25px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
}