html {
  font-size: 62.5% !important;
}

body, input, button, h1, h2, h3, h4, h5 {
  font-family: var(--foo-font-family) !important;
}

body {
  font-size: 1.6rem !important;
  line-height: 2.2rem !important;
  color: var(--foo-color-black) !important;
}

.foo-home-container {
  width: 100%;
  max-width: 1088px;
  margin: 0 auto;
}

.foo-input {
  border-radius: 5px;
  border: 1px var(--foo-color-black) solid;
  outline: none;
}

.foo-input input {
  border: none;
  background: transparent;
}

.foo-highlight {
  color: var(--foo-color-main-yellow);
}

.foo-highlight-bg {
  background: var(--foo-color-main-yellow);
}

.foo-hightlight-blue {
  color: var(--foo-color-main-blue);
}

.foo-home-section-title {
  text-transform: uppercase;
  font-size: 4.8rem;
  line-height: 6rem;
  letter-spacing: .5rem;
  font-weight: 700;
}

.foo-underline {
  position: relative;
}

.foo-underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 11px;
  background: var(--foo-color-main-yellow);
  z-index: -1;
}

.ReactModal__Overlay {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  z-index: 20;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  background: rgba(0, 0, 0, .5) !important;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactModal__Content {
  position: static !important;
  border: none !important;
  border-radius: 40px !important;
  max-width: 650px;
  width: calc(100% - 30px);
  padding: 40px !important;
  max-height: 100%;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  input, button {
    font-size: 1.3rem !important;
    line-height: 1.8rem !important;
  }

  .foo-home-container {
    width: unset;
    margin: 0 15px;
  }

  .foo-home-section-title {
    font-size: 3.8rem;
    line-height: 4.8rem;
    letter-spacing: .4rem;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.play-animate .animated-text {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
}

.play-animate .animated-text.to-left {
  animation-name: fadeInLeft;
}

.play-animate .animated-text.to-right {
  animation-name: fadeInRight;
}

.play-animate .animated-text.to-down {
  animation-name: fadeInDown;
}

.animated-text.animation-delay-300 {
  animation-delay: .3s;
}

.animated-text.animation-delay-500 {
  animation-delay: .5s;
}

.animated-text.animation-delay-600 {
  animation-delay: .6s;
}

.animated-text.animation-delay-900 {
  animation-delay: .9s;
}

.animated-text.animation-delay-1000 {
  animation-delay: 1s;
}

.animated-text.animation-delay-1200 {
  animation-delay: 1.2s;
}

.animated-text.animation-delay-1500 {
  animation-delay: 1.5s;
}